:root {
    --bg-color-dark: #121212;
    --text-color-dark: #ffffff;
    --bg-color-light: #f0f0f0;
    --text-color-light: #000000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body[data-theme='dark'] {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

body[data-theme='light'] {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav .brand {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

nav .nav-right {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

nav .nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav .nav-right a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 10px 10px 0;
    width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.image-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 512px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #1e1e1e;
}

#generated-image {
    max-width: 100%;
    height: auto;
}
